.heading {
  text-align: center;
  background-color: blue;
  color: white;
}

.colorizer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  flex-direction: column;
}
.box {
  width: 42rem;
  height: 15rem;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2rem;
}

button {
  padding: 0.5rem;
  width: 12rem;
  font-size: 1.3rem;
  background-color: rgb(225, 206, 176);
  border-radius: 20px;
  cursor: pointer;
  border-style: none;
}

button:hover {
  background-color: rgb(231, 177, 97);
}

span {
  padding: 2rem;
  width: 12rem;
  font-size: 2rem;
  background-color: rgb(251, 168, 35);
  border-radius: 20px;
  cursor: pointer;
  border-style: none;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  flex-direction: column;
}
